@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 10px;
  padding: 35px 15px;
  margin: 0;
  color: #505050;
}
section {
  text-align: center;
  width: 250px;
  margin: 0 auto;
}
section:first-child {
  /* fixes tapping issues */
  position: relative;
  z-index: 1;
}

#inputDisplay, #targetDisplay {
  color: #428bca;
}

#main {
  margin: 60px auto;
}
#output {
  display: block;
  font-size: 1.3rem;
  color: black;
}
#outputMain {
  display: block;
  font-weight: 600;
  font-size: 12rem;
  line-height: 1;
}
#outputType {
  display: block;
}
#outputSub {
  display: block;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 30px;
}
#progress {
  position: relative;
  height: 20px;
}
#dueDateLabel {
  float: left;
}
#dueDate {
  float: right;
}
#progressBg {
  bottom: 0;
  width: 100%;
  border-bottom: 2px solid #F0F0F0;
  position: absolute;
}
#progressFg {
  position: absolute;
  bottom: 0;
  border-bottom: 2px solid rgb(255, 189, 215);
}

/* hide ugly input[date] elements on mobile and tablets */
@media screen and (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  input[type="date"] {
    top: -1000px;
    position: absolute;
    left: 0;
  }
  .mobile-only {
    display: inline;
  }
}