@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 10px;
  color: #505050;
}

body[data-state="settings"] settings {
  transform: translateX(0);
  -webkit-transform: translateX(0);
}
body[data-state="settings"] page {
  opacity: 0.1;
}

[class^="icon-"], [class*=" icon-"] {
  font-size: 1.2rem;
}

.group:after {
  content: "";
  clear: both;
  display: table;
}

#head {
  padding: 15px;
}

#openSettings,
#closeSettings {
  cursor: pointer;
  padding: 15px;
  position: relative;
}
#openSettings {
  right: 15px;
}
#closeSettings {
  left: 15px;
}

#openSettings:active, #closeSettings:active,
#inputDisplay, #targetDisplay {
  color: #428bca;
}

settings {
  position: absolute;
  width: 80%;
  height: 100%;
  z-index: 1000;
  background: #f7f7f7;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  max-width: 300px;
}

settings #head {
  text-align: right;
}
settings #head span:first-child {
  float: left;
  font-size: 1.4rem;
  position: relative;
  bottom: 5px;
}

settings #main {
  padding: 20px 20px 0;
}
settings #main hr {
  opacity: 0.3;
  margin: 35px 0;
}
settings #main label {
  display: block;
  font-size: 1.1rem;
}
settings #main .date-label {
  display: block;
  font-weight: bold;
  font-size: 0.8rem;
  padding-top: 2px;
}
settings #main .date-desc {
  display: block;
  font-size: 0.7rem;
  opacity: 0.75;
  padding-top: 2px;
}

page {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  margin: 0;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

page #main,
page #footer {
  text-align: center;
  width: 250px;
  margin: 0 auto;
}
page #footer {
  padding-bottom: 20px;
  padding-top: 8px;
}
page #main {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  flex: 2;
  -webkit-flex: 2;
}
#output {
  margin: 0 auto;
  display: block;
  font-size: 1.3rem;
  color: black;
}
#outputMain {
  display: block;
  font-weight: 600;
  font-size: 12rem;
  line-height: 1;
}
#outputType {
  display: block;
  margin-bottom: -15px;
  font-weight: 700;
}
#outputSub {
  display: block;
  margin-top: -5px;
}

#dueDateLabel {
  float: left;
  padding-bottom: 5px;
}
#dueDate {
  float: right;
}
#progressBg {
  width: 100%;
  border-bottom: 2px solid #F0F0F0;
}
#progressFg {
  border-bottom: 2px solid rgb(255, 189, 215);
  position: relative;
  bottom: 2px;;
}

/*  for touch devices:
 *  show nice UI instead of native input[date] elements
**/
#inputDisplay, #targetDisplay {
  display: none;
}

body[data-is-touch="true"] #inputDisplay,
body[data-is-touch="true"] #targetDisplay {
  display: inline;
}
body[data-is-touch="true"] input[type="date"] {
  top: -1000px;
  position: absolute;
  left: 0;
}