@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 15px;
  font-size: 10px;
}
section {
  text-align: center;
}
section:first-child {
  margin-bottom: 50px;
}
#output {
  display: block;
}
#outputMain {
  display: block;
  font-weight: 600;
  font-size: 12rem;
  line-height: 1;
}
#outputType {
  display: block;
  font-weight: 600;
  font-size: 1.3rem;
}
#outputSub {
  display: block;
  font-weight: 300;
  font-size: 1rem;
  margin-top: 0.3rem;
  margin-bottom: 2rem;
}
#dueDate {
  font-size: 0.9rem;
}